@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Muli:300,400');
@import "icons";

// General
body
  margin: 0
  background: black

*, p, h1, h2, h3, h4, h5, h6, a, span
  font-family: 'Muli', sans-serif;
  color: #3f3f3f;

a
  cursor: pointer;

.underline
  text-decoration: underline;

.content-container
  padding: 50px;

.video-container
  width: 640px
  height: auto
  margin: 0 auto !important
  text-align: center !important

  #main-video
    display: none;
    cursor: pointer;

.poster-image
  width: 640px;
  cursor: pointer;
